In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("transformed.csv")

SELECTED JAPAN INDIA CHINA AND AUSTRALIA TO WORK ON

In [3]:
df.head()

,Unnamed: 0,AUSTRALIA - AUSTRALIAN DOLLAR/US$,EURO AREA - EURO/US$,NEW ZEALAND - NEW ZELAND DOLLAR/US$,UNITED KINGDOM - UNITED KINGDOM POUND/US$,BRAZIL - REAL/US$,CANADA - CANADIAN DOLLAR/US$,CHINA - YUAN/US$,HONG KONG - HONG KONG DOLLAR/US$,INDIA - INDIAN RUPEE/US$,...,DENMARK - DANISH KRONE/US$,JAPAN - YEN/US$,MALAYSIA - RINGGIT/US$,NORWAY - NORWEGIAN KRONE/US$,SWEDEN - KRONA/US$,SRI LANKA - SRI LANKAN RUPEE/US$,SWITZERLAND - FRANC/US$,TAIWAN - NEW TAIWAN DOLLAR/US$,THAILAND - BAHT/US$,date
0,0,1.5172,0.9847,1.9033,0.6146,1.805,1.4465,8.2798,7.7765,43.55,...,7.329,101.7,3.8,7.964,8.443,72.3,1.5808,31.38,36.97,2000-01-03
1,1,1.5239,0.97,1.9238,0.6109,1.8405,1.4518,8.2799,7.7775,43.55,...,7.218,103.09,3.8,7.934,8.36,72.65,1.5565,30.6,37.13,2000-01-04
2,2,1.5267,0.9676,1.9339,0.6092,1.856,1.4518,8.2798,7.778,43.55,...,7.208,103.77,3.8,7.935,8.353,72.95,1.5526,30.8,37.1,2000-01-05
3,3,1.5291,0.9686,1.9436,0.607,1.84,1.4571,8.2797,7.7785,43.55,...,7.2125,105.19,3.8,7.94,8.3675,72.95,1.554,31.75,37.62,2000-01-06
4,4,1.5272,0.9714,1.938,0.6104,1.831,1.4505,8.2794,7.7783,43.55,...,7.2285,105.17,3.8,7.966,8.415,73.15,1.5623,30.85,37.3,2000-01-07

In [4]:
japan = df['JAPAN - YEN/US$']

In [5]:
india = df['INDIA - INDIAN RUPEE/US$']

In [6]:
china = df['CHINA - YUAN/US$']

In [7]:
aus = df['AUSTRALIA - AUSTRALIAN DOLLAR/US$']

In [34]:
df_new = pd.DataFrame(
    {
        "date": df['date'],
        "Japan": japan,
        "India": india,
        "China": china,
        "Australia": aus,
    }
)

CREATED A NEW AND MORE USABLE DATA SET

In [35]:
df_new.dtypes

date         object
Japan        object
India        object
China        object
Australia    object
dtype: object

In [36]:
df_new.shape

(5217, 5)

In [42]:
dfn = df_new.drop('date',axis=1)

NOW REMOVED ALL NULL OR NOT DEFINED VALUES

In [43]:
dfn = dfn[dfn['India']!='ND']

In [44]:
dfn = dfn[dfn['China']!='ND']
dfn = dfn[dfn['Japan']!='ND']
dfn = dfn[dfn['Australia']!='ND']

In [45]:
dfn.shape

(5018, 4)

In [46]:
dfn.astype('float32')

           Japan      India   China  Australia
0     101.699997  43.549999  8.2798     1.5172
1     103.089996  43.549999  8.2799     1.5239
2     103.769997  43.549999  8.2798     1.5267
3     105.190002  43.549999  8.2797     1.5291
4     105.169998  43.549999  8.2794     1.5272
...          ...        ...     ...        ...
5211  109.379997  71.230003  7.0064     1.4445
5213  109.669998  71.279999  6.9949     1.4411
5214  109.470001  71.449997  6.9954     1.4331
5215  108.849998  71.300003  6.9864     1.4278
5216  108.669998  71.360001  6.9618     1.4225

[5018 rows x 4 columns]

In [47]:
dfn['date'] = df_new['date']

MERGED COLUMNS

In [ ]:
dfn.to_csv('train.csv', header=True, index=False)